<div class="mt-4">
    <div class="row ml-3 mr-3">
        <div class="col-sm-12">
            <p class="card-text">Current Folder: <%= $global_path%></p> 
            <h3>Edit Folder</h3>
            <hr>

            <%#= render partial: "" %>
        </div>
    </div>
</div>