<div class="">
    <div class="row ml-3 mr-3">
        <%= render partial: "find_outs", locals: {value: 0} %>
        <div class="col-sm-8 mt-4 p-5">
            <div class="row ml-0 text-center">
                <h1 class="display-4 font-weight-bold">Document Management System</h1>
                <div class="col-sm-5 text-left">
                    <h2>Manage your document now!</h2>
                    <p class="lead">Enterprise Content Management Software, often referred to as Document Management Systems (DMS). There's a lot of literature about document management terms like : DMS, EDRMS or CMS usually more influenced by marketing rules rather than objective reasons.</p>
                </div>
                <div class="col-sm-7">
                    <%= image_tag "JOBS.svg", class: "img-fluid"%>
                </div>
            </div>
        </div>
    </div>
</div>