<div class="mt-4">
    <div class="row ml-3 mr-3">
        <div class="col-sm-12">
            <h3>Edit File</h3>
            <hr>

            <%= render partial: "form_edit"%>
        </div>
    </div>
</div>