<div class="mt-4">
    <div class="row ml-3 mr-3">
        <div class="col-sm-12">
                <p class="card p-3">Current Folder: <%= $global_path%></p> 
            <h3>Add Document</h3>
            <hr>

            <%= render partial: "form_new" %>
        </div>
    </div>
</div>